# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
 
# Cypress test ciktilari
cypress/videos/
cypress/screenshots/
 
# Calisma aninda olusabilecek gecici dosyalar
.DS_Store
Thumbs.db
 
# IntelliJ IDEA
.idea/
 
# VS Code (projeyi başka IDE’de açarsan)
.vscode/
 
# Ortam değişkenleri
.env
.env.local